.header {
    height: 90px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-search-mobile-button {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #ffffff1a;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    display: none;
}

.header-search-mobile-button-icon {
    font-size: 2rem;
    position: relative;
    left: 1px;
    top: 1px;
    color: var(--text-color);
}

.header-logo {
    width: 120px;
    display: flex;
    align-items: center;
    background-color: rgb(104 101 154);
    border-radius: 25px;
    padding: 5px 10px;
}

.header-logo-img {
    width: 30%;
}

.header-logo-text {
    color: var(--text-color);
    margin-left: 10px;
}

.header-search-bar {
    width: 400px;
    background-color: #ffffff1a;
    border-radius: 25px;
    height: 40px;
    padding: 0 6px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.header-search-bar-button {
    background: transparent;
    width: 30px;
    border: none;
    cursor: pointer;
}

.header-search-bar-icon {
    position: relative;
    top: 2px;
    font-size: 1.8rem;
    color: var(--text-color);
}

.header-search-bar-input {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    outline: none;
    height: 100%;
    width: 80%;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-search-bar-input::placeholder {
    color: #787778;
    letter-spacing: 0.8px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-user-account {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 5px;
    margin-left: 20px;
}

.header-user-avatar {
    margin-left: 2px;
    position: relative;
    cursor: pointer;
}

.header-user-avatar-icon {
    font-size: 3rem;
    position: relative;
    top: 1px;
}
.header-user-name {
    position: relative;
    font-size: 1.4rem;
    margin-right: 6px;
}
.header-user-account-icon {
    font-size: 1.4rem;
    top: 1px;
}

.header-user-avatar-icon,
.header-user-name,
.header-user-account-icon {
    color: var(--text-color);
}


.header-user-avatar-options {
    background-color: var(--background-color);
    position: absolute;
    top: calc(100% + 5px);
    right: -5px;
    min-width: 220px;
    border-radius: 3px;
    padding: 0px 14px 14px 14px;
    z-index: 1;
    display: none;
}

.header-user-avatar-option-list {
    list-style: none;
    padding-left: 0;
}

.header-user-avatar-option-item:first-child {
    border: none;
    display: flex;
    align-items: center;
    padding: 12px 10px;
}

.header-user-avatar-option-item:first-child:hover {
    background-color: transparent;
    cursor: default;
}

.header-user-avatar-icon-option {
    font-size: 4rem;
    color: var(--text-color);
}

.header-user-avatar-option-item {
    border-top: 1px solid #ffffff1a;
    padding: 12px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-user-avatar-option-item:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.header-user-avatar-option-item-log-out {
    text-decoration: none;
    color: var(--text-color);
}

.user-wrap {
    margin-left: 10px;
}

.user-name,
.user-email {
    display: block;
}

.user-name {
    font-size: 1.6rem;
    color: var(--text-color);
}

.user-email {
    font-size: 1.4rem;
    color: var(--sub-text-color);
}

.show {
    display: block;
}